.chat-container {
  height: calc(100vh - 80px);
  display: flex;
  overflow-y: auto;
  flex-direction: column-reverse;
  align-items: center;
  width: 29%;
  margin: 0 auto;
}

.message-input {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  width: 29%;
  resize: none;
  padding: 8px;
  height: 16px;
}

.message-send-button {
  visibility: hidden;
  position: absolute;
  bottom: 1.55%;
  right: 27%;
}

.message-container {
  display: flex;
  margin: 10px 0;
}

.right-aligned {
  justify-content: flex-end;
}

.left-aligned {
  justify-content: flex-start;
}

.message-bubble {
  bottom: 1%;
  padding: 10px 20px;
  border-radius: 20px;
  overflow-wrap: break-word;
  background-color: lightblue;
  max-width: 50%;
}
