 body {
  background-color: #222222;
 }

.chat-container {
  height: calc(100vh - 80px);
  display: flex;
  overflow-y: auto;
  flex-direction: column-reverse;
  width: 29%;
  margin: 0 auto;
}

.message-input {
  outline: none !important;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  width: 29%;
  resize: none;
  padding: 8px;
  height: 20px;
  background-color: #181818;
  -webkit-text-fill-color: #eeeeee;
  border-radius: 4px;
  caret-color: #eeeeee;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 


.username {
  -webkit-text-fill-color: #eeeeee;
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.other-username {
  -webkit-text-fill-color: #eeeeee;
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.message-send-button {
  visibility: hidden;
  position: absolute;
  bottom: 1.55%;
  right: 27%;
}

.message-bubble {
  bottom: 1%;
  margin-top: 15px;
  padding: 7px 12px;
  border-radius: 5px;
  overflow-wrap: break-word;
  max-width: 80%;
  font-size: 15px;
  background-color: red;
  align-self: center;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.right-aligned {
  bottom: 1%;
  margin-top: 15px;
  padding: 7px 12px;
  border-radius: 5px;
  overflow-wrap: break-word;
  max-width: 80%;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: aquamarine;
  align-self: flex-end;
}

.left-aligned {
  bottom: 1%;
  margin-top: 15px;
  padding: 7px 12px;
  border-radius: 5px;
  overflow-wrap: break-word;
  max-width: 80%;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-text-fill-color: #eeeeee;
  background-color: #404040;
  align-self: flex-start;
}
