<!-- /templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Aqua</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}"/>
    </head>
    <body>
	    <div class="chat-container" id="chat-container">
		    <div class="message-container left-aligned"></div>
		    <div class="message-container right-aligned"></div>
	    </div>
		    <form action="" class="chatbox" method="POST">
			    <textarea type="text" id="message-input" class="message-input" autofocus></textarea>
			    <button type="submit" class="sendmessage">Send</button>
		    </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    	<script src="{{ url_for('static', filename='js/event_handler.js') }}"></script>
    </body>
</html>
