<!-- /templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Aqua</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}"/>
    </head>
        <body>
            <div>
                <p class="chat_message">
                </p>
            </div>
            <div>
                <form action="" class="chatbox" method="POST">
                    <textarea type="text" id="message" class="message" autofocus></textarea>
                    <button type="submit" class="sendmessage">Send</button>
                </form>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
            <script src="{{ url_for('static', filename='js/event_handler.js') }}"></script>
        </body>
</html>
